h1
{
    color:black; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:black;
    font-family: "Arial", sans-serif;
    font-size: 13pt;
}
img
{
width:35%; 
}